    <!-- About Section -->
    <section id="about" class="container content-section text-center" style="width: 100%; color: #000; height: 100%;">
        <div class="row">
            <div class="col-md-12">
                <h1 class="brand-heading">LCV</h1>
            </div>
            <div class="col-md-12">
                <p class="brand-heading">LÜTFEN 14 HAZİRAN TARİHİNE KADAR KATILIM DURUMUNUZU BİLDİRİNİZ</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <form>
                  <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-6 col-form-label" style="text-align: right; font-size: 20px; font-weight: 100; padding-top: 10px;">DAVETE KATILACAK KİŞİ SAYISI</label>
                    <div class="col-sm-6">
                      <input type="email" class="form-control" id="colFormLabelSm" style="height: 40px; font-size: 16px">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-6 col-form-label" style="text-align: right; font-size: 20px; font-weight: 100; padding-top: 10px;">AD / SOYAD</label>
                    <div class="col-sm-6">
                      <input type="email" class="form-control" id="colFormLabel" style="height: 40px; font-size: 16px">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="colFormLabelLg" class="col-sm-6 col-form-label" style="text-align: right; font-size: 20px; font-weight: 100; padding-top: 10px;">EMAIL ADRESi</label>
                    <div class="col-sm-6">
                      <input type="email" class="form-control" id="colFormLabelLg" style="height: 40px; font-size: 16px">
                    </div>
                  </div>
                </form>
            </div>
        </div>
        <div class="row" style="padding-top: 30px;">
            <div class="col-md-12">
                <p class="brand-heading">ÇOCUKLARA İYİ GECELER</p>
            </div>
            <div class="col-md-12">
                <div>

                </div>
            </div>
        </div>
    </section>